[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/madouat
[access "refs/for/refs/*"]
	read = group user/madouat
	push = group user/madouat
	label-Code-Review = -2..+2 group user/madouat
	label-Verified = -1..+1 group user/madouat
	rebase = group user/madouat
	removeReviewer = group user/madouat
	submit = group user/madouat
[access "refs/heads/*"]
	read = group user/madouat
	create = group user/madouat
	push = +force group user/madouat
	pushMerge = group user/madouat
[access "refs/tags/*"]
	push = +force group user/madouat
	pushTag = group user/madouat
	pushSignedTag = group user/madouat
